*{padding:0;margin:0;font:normal 12px/24px "\5FAE\8F6F\96C5\9ED1";color:#444;}
table, #blueinput, #box {
	margin: 10px 0 0 10px;
}
/*--table隔行变色--*/
table {
	width:300px;
	border:0;
	text-align:center;
	/*border-collapse:collapse;
	border-spacing:0;*/
}
table th {
	background:#0090D7;
	font-weight:normal;
	line-height:30px;
	font-size:14px;
	color:#FFF;}
table tr:nth-child(odd) {
	background:#C0C0C0;
}
table tr:nth-child(even) {
	background:#FFF;
}

#blueinput {
	width: 300px;
	text-align: center;  /*输入框水平居中*/
}
input:focus {
	outline: none;
	border: 1px solid #87C6F9;
	box-shadow: 0 0 2px #87C6F9;
}
#BI {
	margin-top: 10px;
	width: 240px;
	outline: none;
	border: 3px solid #87C6F9;
	box-shadow: 0 0 1px #87C6F9;
}


#box {
	width: 300px;
	height: 140px;
	background-color: #CD2;
	position: relative;
}
#box ul {
	position: absolute;
	bottom: 0;
	right: 0;
	overflow: auto;
}
#box li {
	float: left;
	width: 30px;
	height: 30px;
	line-height: 30px;
	list-style: none;
	text-align: center;
	background-color: #FFF;
	filter:alpha(opacity=70);
    -moz-opacity:0.7;
    opacity: 0.7;
    margin-left: 2px;
}

